
/* centrer le logo quel que soit l'écran*/


/* Approche Mobile first */
@media screen and (max-width: 640px)
{
    .logo_gbaf     
    {
        position: relative;
        margin-left: 30%;
        
    } 
    #presentation  
    {
        
        display: flex;
        flex-direction: column;
        font-size: 2em;
           
    }
    body
    {
        
        font-family: Arial, Helvetica, sans-serif;
        display:flex;
        flex-direction: column;
        position: absolute;
       
        
    }

    h1 
    {
        margin-left: 25%;
    }
    h2 
    {
        font-size: 2em;
        text-align: center;
        
    }

    #bouton_lire_la_suite
    {
        position: absolute;

    }

    #acteur
    {
        border: black solid 2px;
        border-right: black solid 2px;
        margin-left: 0;
        margin-top: 5%;
        margin-right: 3%;
        
    }

    
    
}



